@font-face {
    font-family: hans;
    src: url(./NeueHaasDisplayRoman.ttf);
}
* {
    margin: 0;
    padding: 0;
    font-family: hans;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}
#main {
    position: relative;
    z-index: 10;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 2vw 0;
}
#menu a {
    text-decoration: none;
    color: #000;
    position: relative;
    z-index: 9;
}
#menu {
    display: flex;
    align-items: center;
    gap: 1vw;
}
#menu h4 {
    border: 1px solid #8a8a8a89;
    border-radius: 50px;
    padding: 10px 20px;
    font-weight: 500;
    position: relative;
    color: #000;
    transition: all ease .4s;
    overflow: hidden;
}

#menu h4::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: -100%;
    background-color: #000;
    border-radius: 100%;
    transition: all ease .4s;
}
#menu h4:hover::after {
    bottom: 0;
    border-radius: 0;
}
#menu h4:hover a{
    color: #fff;
}
#center {
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 2vh;
    border-bottom: 1px solid #8a8a8a89;
}
#left p{
    width: 25vw;
    line-height: 2vw;
    font-size: 1.8vw;
}
#right h1 {
    font-size: 6vw;
    text-align: right;
    line-height: 8vw;
}

#page1 video {
    width: 100%;
    border-radius: 30px;
    margin-top: 4vw;
    padding-bottom: 50px;
    position: relative;
    background-color: #000;
}
.blob {
    width: 25vw;
    height: 25vw;
    right: 0;
    top: 75vh;
    position: absolute;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.hero-1 {
    height: 25vw;
    width: 25vw;
    background-color: orangered;
    border-radius: 100%;
    position: absolute;
    filter: blur(20px);
}
.hero-2 {
    height: 25vw;
    width: 25vw;
    background-color: orangered;
    border-radius: 100%;
    position: absolute;
    filter: blur(20px);
    animation-name: anime;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.hero-3 {
    height: 25vw;
    width: 25vw;
    background-color: orangered;
    border-radius: 100%;
    position: absolute;
    filter: blur(20px);
    animation-name: anime2;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
/* @keyframes anime {
    from{
        transform: translate(-20%, -20%);
    }
    to{
        transform: translate(10px, 10px);
    }
} */
@keyframes anime2 {
    from{
        transform: translate(-20%, -20%);
    }
    to{
        transform: translate(-10px, -10px);
    }
}

#page-2 {
    min-height: 100vh;
    width: 100%;
    padding: 8vw 0;
    background-color: #EFEAE3;
}
#moving-text {
    white-space: nowrap;
    overflow-x: auto;
    margin: 5vw 0;
}
#moving-text::-webkit-scrollbar {
    display: none;
}
#moving-text h1{
    font-size: 8vw;
    text-transform: uppercase;
    display: inline-block;
}
.con {
    white-space: nowrap;
    display: inline-block;
    animation-name: moving-text;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.gola {
    width: 3vw;
    height: 3vw;
    background-color: orangered;
    border-radius: 50%;
    display: inline-block;
    margin: 1vw 2vw;
}
@keyframes moving-text {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
    
}
#content-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6vw 5vw;
    position: relative;
}
#part1 h1 {
    font-size: 4vw;
    width: 70vw;
    position: relative;
    z-index: 9;
}
#part2 img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 2vw;
}
#part2 p {
    font-size: 1vw;
    text-align: justify;
}
#gooey {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background-color: #fe320a;
    position: absolute;
    filter: blur(20px);
    left: 20vw;
    top: 30vh;
    animation: gooey 3s linear infinite alternate;
}
@keyframes gooey {
    from {
        transform: translate(-10%, 10%) skew(0);
    }
    to {
        transform: translate(10%, -10%) skew(-12deg);
    }
}
/* image animation accordion design */
#page-3 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
}
.elem {
    position: relative;
    width: 100vw;
    height: 120px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #6b6b6b;
}
.elem h1 {
    position: absolute;
    z-index: 9;
    font-size: 3vw;
    padding: 2vw;
}
#overlay {
    width: 100vw;
    height: 100%;
    background-color: #FF9831;
    position: absolute;
    top: -100%;
    transition: all ease .5s;
}
.elem:hover #overlay {
    top:0;
}
#fixed-image {
    position: fixed;
    width: 18vw;
    height: 25vw;
    border-radius: 15px;
    z-index: 99;
    top: 25vh;
    left: 50vw;
    background-size: cover;
    display: none;
    transform: all ease .1s;
}
#page-4 {
    background-color: #EFEAE3;
    height: 100vh;
    width: 100%;
}
#page-5 {
    /* background-color: #000; */
    height: 100vh;
    width: 100%;
}
.footer {
    position: fixed;
    height: 105vh;
    width: 100%;
    background-color: #000;
    color: #fff;
    z-index: 9;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1vw 3vw;
}
.footer h1 {
    font-size: 23vw;
}
.footer-up {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
}
.footer-menu h3 {
    font-size: 2vw;
}
.footer-newsletter {
    width: 20vw;
    border-bottom: 1px solid #fff;
}
.footer-newsletter h5 {
    font-size: 1.1vw;
    margin-bottom: 1vw;
}
.footer-newsletter input {
    background-color: transparent;
    border: none;
    width: 20vw;
    height: 5vh;
}
.footer-down {
    border-top: 1px solid #dadada;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-down h5 {
    font-size: 1.1vw;
}